{% block content1 %}
  <h1>Interface Administrateur</h1>
    <li class="nav-link">
        <a href="{% url 'PageAdmin' %}">
            <i class=''></i>
            <span class="text nav-text">Cliquez pour accéder à l'interface administrateur</span>
        </a>
    </li>

{% endblock %}

{% block content2 %}
  <h1>Interface Utilisateur</h1>
      <li class="nav-link">
        <a href="{% url 'PageMembre' %}">
            <i class=''></i>
            <span class="text nav-text">Cliquez pour accéder à l'interface utilisateur</span>
        </a>
        </li>
{% endblock %}