<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal" action='' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Formulaire d'inscription</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username1">Nom</label>
      <div class="controls">
        <input type="text" id="username" name="username1" placeholder="" class="input-xlarge">
        <p class="help-block">Entrez votre nom</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username2">Prénom</label>
      <div class="controls">
        <input type="text" id="username2" name="username2" placeholder="" class="input-xlarge">
        <p class="help-block">Entrez votre prénom</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
        <p class="help-block">Entrez votre émail</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Mot de passe</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
        <p class="help-block">Votre mot de passe doit être au moins de 10 caractères, doit contenir au moins une lettre majuscule, une lettre miniscule et un chiffre.</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Mot de passe (Confirmation)</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
        <p class="help-block">Confirmez votre mot de passe</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="statut">Statut</label>
      <div class="controls">
        <input type="text" id="statut" name="statut" placeholder="" class="input-xlarge">
        <p class="help-block">Renseignez votre statut: Enseignant, chercheur, stagiaire...</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="dateDébut">Date début</label>
      <div class="controls">
        <input type="date" id="dateDébut" name="dateDébut" placeholder="" class="input-xlarge">
        <p class="help-block">Date de début de votre formation</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="dateFin">Date début</label>
      <div class="controls">
        <input type="date" id="dateFin" name="dateFin" placeholder="" class="input-xlarge">
        <p class="help-block">Date de fin de votre formation</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="commentaire">Commentaire</label>
      <div class="controls">
        <input type="text" id="commentaire" name="commentaire" placeholder="" class="input-xlarge">
        <p class="help-block">D'autres informations sur vous ?</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Envoyer</button>
      </div>
    </div>
  </fieldset>
</form>