<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/Modifier.css' %}" rel="stylesheet">
        <!----======== CSS ======== -->
        <link rel="stylesheet" href="style.css">
        
        <!----===== Boxicons CSS ===== -->
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        
        <!--<title>Dashboard Sidebar Menu</title>--> 
    </head>
    <body>
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <!--<img src="logo.png" alt="">-->
                    </span>
    
                    <div class="text logo-text">
                        <span class="name">Nom Prénom</span>
                        <span class="profession">Administrateur</span>
                    </div>
                </div>
    
                <i class='bx bx-chevron-right toggle'></i>
            </header>
    
            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-home-alt icon' ></i>
                                <span class="text nav-text">Ma Fiche</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-user-circle icon' ></i>
                                <span class="text nav-text">Membres MEE</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-bookmark icon'></i>
                                <span class="text nav-text">Ressources MEE</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-link icon' ></i>
                                <span class="text nav-text">Associer ressource</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-user-plus icon' ></i>
                                <span class="text nav-text">Demande d'ajout</span>
                            </a>
                        </li>
                    </ul>
                </div>
    
                <div class="bottom-content">
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text">Déconnexion</span>
                        </a>
                    </li>  
                </div>
            </div>
    
        </nav>
        <section class="home">
            <div class="text">
                Mon Portail: Administrateur
                <img class="header_img" src="https://upload.wikimedia.org/wikipedia/commons/6/67/IMT_Atlantique_logo.png" alt="">
            </div>
            <div class="formulaire">
                <h1>Formulaire de modification</h1>
                <form action="#" method="post">
                    <label for="nom">Nom :&nbsp;</label>
                    <input required=""  type="text" name="nom" class="zone" id="nom" readonly="readonly"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
            
                    <label for="prenom">Prénom : &nbsp;</label>
                    <input required="" type="text" name="prenom" class="zone" id="prenom" readonly="readonly"/>
                    <br>
            
                    <label for="email">Email :&nbsp; &nbsp; &nbsp; &nbsp;</label>
                    <input required="" type="text" name="email" class="zone" id="email"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
            
                    <label for="fonction">Statut : &nbsp;</label>
                    <input  required="" type="text" name="fonction" class="zone" id="fonction"/>
                    <br>
                     
                    <label for="dateD">Date début:&nbsp;</label>
                    <input required="" type="Date" name="Date" class="zone1" id="dateD"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;         
                    <label for="DateF">date fin:</label>
                    <input  required="" type="date" name="dateF" class="zone1" id="dateF"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        
                    <br> <label for="commentaire"> Commentaire : &nbsp;&nbsp;&nbsp; </label>
                    <input type="text" name="commentaire" required="" class="wd" id="commentaire"/>
                    <br>
                    
                    
                    <br>
                        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp; 
                        
                        <button class="Modifier">Modifier</button>
                </form>
            </div>
        </section>




        <script>
            const body = document.querySelector('body'),
          sidebar = body.querySelector('nav'),
          toggle = body.querySelector(".toggle"),
          searchBtn = body.querySelector(".search-box"),
          modeSwitch = body.querySelector(".toggle-switch"),
          modeText = body.querySelector(".mode-text");
    
    
    toggle.addEventListener("click" , () =>{
        sidebar.classList.toggle("close");
    })
    
    searchBtn.addEventListener("click" , () =>{
        sidebar.classList.remove("close");
    })
    
    modeSwitch.addEventListener("click" , () =>{
        body.classList.toggle("dark");
        
        if(body.classList.contains("dark")){
            modeText.innerText = "Light mode";
        }else{
            modeText.innerText = "Dark mode";
            
        }
    });
        </script>
    </body>
</html>